#nprogress .bar {
  background: #7e81f6;
  height: 3px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

#nprogress .peg {
  box-shadow: 0 0 10px #f78360, 0 0 5px #7e81f6;
}

#nprogress .spinner-icon {
  border-top-color: #7e81f6;
  border-left-color: #7e81f6;
}

.redFont {
  color: red;
}
